@import "/css/book-app.css";
@import "/css/nav-bar.css";
@import "/css/book-details.css";
@import "/css/home-page.css";
@import "/css/about.css";
@import "/css/five-stars.css";
@import "/css/book-review.css";
@import "/css/book-add.css";
html,
body,
h1,
h2,
h3 {
  margin: 0;
}
a:hover {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

body {
  background-color: darkcyan;
}

header {
  border-bottom: 1px solid black;
  background-color: coral;
  text-align: center;
}

footer {
  border-top: 1px solid black;
  background-color: coral;
  text-align: center;
}

.user-msg {
  z-index: 1;
  padding: 20px;
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.user-msg .btn {
  align-self: flex-end;
}

.success {
  background-color: white;
  color: green;
  border: 2px solid green;
}
